<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.importer.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.maven.MavenProjectConfigurator"
            label="Maven">
         <activeWhen>
            <hasFile
                  path="pom.xml">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
