<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.playground.easymport.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.ServletProjectConfigurator">
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.JPAProjectConfigurator">
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.JaxRsConfigurator">
      </projectConfigurator>
   </extension>
</plugin>
