<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.importer.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.ServletProjectConfigurator">
         <activeWhen>
            <hasFileRecursively
                  filename="web.xml">
            </hasFileRecursively>
         </activeWhen>
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.JPAProjectConfigurator">
         <activeWhen>
            <hasFileRecursively
                  filename="persistence.xml">
            </hasFileRecursively>
         </activeWhen>
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.jee.servlet.JaxRsConfigurator">
         <activeWhen>
            <hasFileRecursively
                  filename="web.xml">
            </hasFileRecursively>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
