<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="projectConfigurators" name="projectConfigurators" schema="schema/projectConfigurators.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <command
               commandId="org.jboss.tools.playground.easymport.openDirectory"
               id="org.jboss.tools.playground.easymport.openDirectory.menu"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.playground.easymport.openDirectory"
            name="%importProjectsFromFolder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.playground.easymport.OpenFolderCommand"
            commandId="org.jboss.tools.playground.easymport.openDirectory">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.jboss.tools.playground.easymport.openDirectory"
            icon="pics/prj_obj.gif">
      </image>
   </extension>
   
   <!-- Drop folders -->
   <extension
         point="org.jboss.tools.playground.easymport.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.extension.EclipseProjectConfigurator">
         <activeWhen>
            <hasFile
                  path=".project">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
   </extension>
   
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.ui.Basic"
            class="org.jboss.tools.playground.easymport.EasymportWizard"
            id="org.jboss.tools.playground.easymport.wizard"
            name="%importProjectsFromFolder">
      </wizard>
   </extension>
   
</plugin>
