<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.playground.easymport.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.pde.BundleProjectConfigurator">
         <activeWhen>
            <hasFile
                  path="META-INF/MANIFEST.MF">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.pde.FeatureProjectConfigurator">
         <activeWhen>
            <hasFile
                  path="feature.xml">
            </hasFile>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
