<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%autosave.command.name"
            defaultHandler="org.jboss.tools.playground.autosave.internal.AutoSaveHandler"
            id="org.jboss.tools.playground.autosave.command">
      <state
         class="org.eclipse.ui.handlers.RegistryToggleState:false"
         id="org.eclipse.ui.commands.toggleState">
      </state>
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=org.eclipse.debug.ui.launchActionSet">
         <toolbar
               id="org.jboss.tools.playground.autosave.autoSaveToolbar">
            <command	
                  commandId="org.jboss.tools.playground.autosave.command"
                  icon="pics/auto_save.png"
                  tooltip="%autosave.tooltip"
                  style="toggle"
                  label="Bold"
                  id="org.jboss.tools.playground.autosave.autoSaveCommand">
            </command>
         </toolbar>
      </menuContribution>
   	</extension>
    <extension point="org.eclipse.ui.startup">
 	  <startup class="org.jboss.tools.playground.autosave.internal.Activator"/>
    </extension>
</plugin>
