<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.playground.nestor.NestedProjectsContentProvider"
            id="org.jboss.tools.playground.nestor.nestedProjectContentProvider"
            labelProvider="org.jboss.tools.playground.nestor.NestedProjectsLabelProvider"
            name="%nestedProjects.provider.name"
            priority="higher">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt>
         </enablement>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.playground.nestor.HideFolderWhenProjectIsShownAsNested"
            description="%nestedProjects.filters.HideFolderWhenProjectIsShownAsNested.description"
            id="org.jboss.tools.playground.nestor.HideFolderWhenProjectIsShownAsNested"
            name="%nestedProjects.filters.HideFolderWhenProjectIsShownAsNested.name"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.playground.nestor.HideTopLevelProjectIfNested"
            description="%nestedProjects.filters.HideTopLevelProjectIfNested.description"
            id="org.jboss.tools.playground.nestor.HideTopLevelProjectIfNested"
            name="%nestedProjects.filters.HideTopLevelProjectIfNested.name"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.jboss.tools.playground.nestor.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.navigator.ProjectExplorer">
         <menu
               label="%nestedProjects.menu.projectPresentation">
            <command
                  commandId="org.jboss.tools.playground.nestor.changeProjectPresentation"
                  label="%nestedProjects.menu.projectPresentation.flat"
                  style="radio">
               <parameter
                     name="org.jboss.tools.playground.nestor.projectPresentation.nest"
                     value="false">
               </parameter>
            </command>
            <command
                  commandId="org.jboss.tools.playground.nestor.changeProjectPresentation"
                  label="%nestedProjects.menu.projectPresentation.hierarchical"
                  style="radio">
               <parameter
                     name="org.jboss.tools.playground.nestor.projectPresentation.nest"
                     value="true">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jboss.tools.playground.nestor.internal.ProjectPresentationHandler"
            id="org.jboss.tools.playground.nestor.changeProjectPresentation"
            name="%nestedProjects.menu.projectPresentation">
         <commandParameter
               id="org.jboss.tools.playground.nestor.projectPresentation.nest"
               name="%nestedProjects.menu.projectPresentation.hierarchical"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   
</plugin>
