<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.jboss.tools.playground.nestor.NestedProjectsContentProvider"
            id="org.jboss.tools.playground.nestor.nestedProjectContentProvider"
            labelProvider="org.jboss.tools.playground.nestor.NestedProjectsLabelProvider"
            name="%nestedProjects.provider.name"
            priority="higher">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt>
         </enablement>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.playground.nestor.HideFolderWhenProjectIsShownAsNested"
            description="%nestedProjects.filters.HideFolderWhenProjectIsShownAsNested.description"
            id="org.jboss.tools.playground.nestor.HideFolderWhenProjectIsShownAsNested"
            name="%nestedProjects.filters.HideFolderWhenProjectIsShownAsNested.name"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="org.jboss.tools.playground.nestor.HideTopLevelProjectIfNested"
            description="%nestedProjects.filters.HideTopLevelProjectIfNested.description"
            id="org.jboss.tools.playground.nestor.HideTopLevelProjectIfNested"
            name="%nestedProjects.filters.HideTopLevelProjectIfNested.name"
            visibleInUI="true">
      </commonFilter>
      <actionProvider
            class="org.jboss.tools.playground.nestor.NestedProjectActionProvider"
            id="org.jboss.tools.playground.nestor.NestedProjectActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.jboss.tools.playground.nestor.NestedProjectActions"/>
            <contentExtension pattern="org.jboss.tools.playground.nestor.*"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.jboss.tools.playground.nestor.NestedProjectActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
</plugin>
