<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="projectConfigurators" name="projectConfigurators" schema="schema/projectConfigurators.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <command
               commandId="org.jboss.tools.eclipse.openDirectory"
               id="org.jboss.tools.eclipse.openDirectory.menu"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.eclipse.openDirectory"
            name="%openDirectory">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.eclipse.open.OpenFolderCommand"
            commandId="org.jboss.tools.eclipse.openDirectory">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.jboss.tools.eclipse.openDirectory"
            icon="pics/prj_obj.gif">
      </image>
   </extension>
   
   <extension point="org.eclipse.ui.propertyPages">
   		<page
            class="org.jboss.tools.eclipse.natures.ProjectNaturesPage"
            id="org.eclipse.ui.propertypages.project.natures"
            name="%PropertyPages.project.natures"
            >
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.jboss.tools.eclipse.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.eclipse.open.extension.examples.java.JDTProjectNature">
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.eclipse.open.extension.examples.maven.MavenProjectConfigurator">
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.eclipse.open.extension.examples.pde.bundle.BundleProjectConfigurator">
      </projectConfigurator>
      <projectConfigurator
            class="org.jboss.tools.eclipse.open.extension.examples.pde.feature.FeatureProjectConfigurator">
      </projectConfigurator>
   </extension>

</plugin>
