<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            class="org.jboss.tools.playground.eaymport.egit.EasymportGitWizard"
            id="org.jboss.tools.playground.eaymport.egit.wizard"
            name="%EasymportGitWizard_label">
      </wizard>
   </extension>

</plugin>
