<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.playground.easymport.projectConfigurators">
      <projectConfigurator
            class="org.jboss.tools.playground.easymport.javascript.JSDTProjectNature">
         <activeWhen>
            <hasFileWithSuffixRecursively
                  suffix=".js">
            </hasFileWithSuffixRecursively>
         </activeWhen>
      </projectConfigurator>
   </extension>
</plugin>
